Source: darkflow
Section: net
Priority: optional
Maintainer: alpinebuster <imzqqq@hotmail.com>
Build-Depends: debhelper-compat (= 12), dh-cargo, libpcap-dev
Standards-Version: 4.7.1
Homepage: https://github.com/alpinebuster/darkflow

Package: darkflow
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Rust-based network flow analysis tool
 Dark Flow (DF) is a network flow analysis tool written in Rust. It supports
 real-time feature extraction and analysis from network interfaces or
 pcap files. It includes a TUI for configuration and monitoring.
